:root{
    --size: repeat(20, 11px);
}
.flex-container{
    display: grid ; 
    grid-template-columns: var(--size);
    gap: 25px;
    row-gap: 2px;
    width: 50%;

    justify-items: center;
    align-items: center;
}

.grid-item{
    text-align: center;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}